#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --enable-gc=system --with-latex=/usr/share/texmf/tex/latex --with-context=/usr/share/texmf/tex/context/third
DEB_MAKE_BUILD_TARGET = all html
DEB_COMPRESS_EXCLUDE = .pdf

clean::
	rm -f doc/*.aux doc/*.cp* doc/*.dvi doc/*.log doc/*.toc doc/latexusage.asy config.log 

binary-predeb/asymptote::
	chmod +x debian/$(cdbs_curpkg)/usr/share/asymptote/asy-kate.sh # script-not-executable
